* {
    background-color: lightyellow;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

img {
    height: auto;
    width: 500px;
}

.text-large {
    font-size: 56px;
}

.text-center {
    text-align: center;
}

h2 {
    color: rgb(184, 82, 82)
}

li {
    font-size: 14px;
}

.ul-none {
    list-style: none;
}


.custom-link, 
.return-link,
#src-recipe {
    text-decoration: none;
    font-size: 18px;
}

.return-link {
    color: brown;
    border-style: dashed;
    border-color: lightcoral;
}

#src-recipe {
    color: blueviolet;
    border-style: groove;
    border-color: lightblue;
    
}

a:hover {
    font-weight: bold;
}




